<div>

    <button type="button" class="btn btn-secondary" routerLink="/">Home</button>

    <button type="button" class="btn btn-primary">add meal</button>


    <button type="button" class="btn btn-primary" routerLink="/all-meals">All meals</button>


    <button type="button" class="btn btn-success">create menu</button>


    <button type="button" class="btn btn-success">edit menu(in v2 avaliable)</button>


    <button type="button" class="btn btn-success">show menu</button>


    <button type="button" class="btn btn-danger">show shopping list</button>


    <button type="button" class="btn btn-secondary" routerLink="/info">info page</button>

</div>