<div>

    <button type="button" class="btn btn-secondary" routerLink="/">Home</button>

    <button type="button" class="btn btn-primary" routerLink="/add-meal">add meal</button>

    <button type="button" class="btn btn-primary" routerLink="/all-meals">All meals</button>

    <button type="button" class="btn btn-primary">edit meal(in v2 avaliable)</button>

    <button type="button" class="btn btn-success" routerLink="/create-menu">create menu</button>


    <button type="button" class="btn btn-success">edit menu(in v2 avaliable)</button>


    <button type="button" class="btn btn-success" routerLink="/show-menu">show menu</button>


    <button type="button" class="btn btn-danger">show shopping list</button>


    <button type="button" class="btn btn-secondary" routerLink="/info">info page</button>

</div>