#new-menu-parameters-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-group {
    width: 300px;
    padding: 10px;
}

.menu-meals {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}