<div class="container" style="width: 300px;">
  <div class="row">
    <div >
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" ngModel class="form-control" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" ngModel class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

              <!-- <app-register></app-register> -->
              
        <button *ngIf="!this.globals.signedIn" type="button" class="btn btn-secondary"
        style="width: 300px; margin-top: 20px;" routerLink="/info" (click)="logInToDemo()">
        Log in to demo
      </button>

      </form>
    </div>
  </div>
</div>
