<h3>Show menus</h3>
<hr />
<app-spinner *ngIf="!menus"></app-spinner>

<div class="menus" *ngIf="menus">
    <div class="menu" *ngFor="let dataSource of menus; let i = index;">
    <br> 
    <div class="alert alert-dismissible alert-success">
        It's a menu <strong>{{dataSource.name}}</strong> for <strong>{{dataSource.numberOfPeople}}</strong> people.
        <button *ngIf="dataSource.id" class="btn btn-danger btnMenu" (click)="deleteMenu(dataSource)">Delete</button> 
        <button *ngIf="addMeal == null" class="btn btn-primary btnMenu" (click)="addMeal = i">Add meal</button>
        <button *ngIf="addMeal == i" class="btn btn-danger btnMenu" (click)="addMeal = null">Cancel add meal</button>
    </div>
    <app-quick-search-meal (emitableMenuMeal)="addMealToMenu($event, dataSource, i)" *ngIf="addMeal == i"></app-quick-search-meal>
    <div>
    <dx-data-grid id="gridContainer" 
        [dataSource]="dataSource.meals"
        [masterDetail]="{ enabled: true, template: 'detail' }" 
        keyExpr="meal.id" 
        [allowColumnReordering]="false"
        [showBorders]="false"
        (onRowRemoving)="onRowRemoving(dataSource, $event)"
        (onRowClick)="onRowClick($event)" >

        <dxo-selection mode="single"></dxo-selection>
        <dxo-grouping expandMode="rowClick" [autoExpandAll]="false"> </dxo-grouping>
        <dxo-paging [enabled]="true"></dxo-paging>
        <dxo-editing mode="row" 
        [allowUpdating]="false" 
        [allowDeleting]="true" 
        [allowAdding]="false">
        </dxo-editing>

        <dxi-column caption="name" dataField="meal.name" [width]="185"></dxi-column>
        <dxi-column caption="dayNumber" dataField="dayNumber" [groupIndex]="0"></dxi-column>
        <dxi-column caption="type" dataField="meal.typeOfMeal" [width]="105"></dxi-column>

        <dxi-column type="buttons"  [width]="45">
            <dxi-button name="delete"></dxi-button>    
        </dxi-column>
        

        <div id="tabs-container" *dxTemplate="let meal of 'detail'" style="display: flex; flex-direction: column;">
            <div style="margin-bottom: 10px;">
                Preparing type: {{meal.data.meal.typeOfPreparing}}<br>
                Minutes to prepare: {{meal.data.meal.minutesToPrepare}}<br>
            </div> 
            <dx-tab-panel id="tabs">
              <dxi-item
                title="Ingredients for 1 person"
                template="ingredientsTab"
              ></dxi-item>
              <div *dxTemplate="let ingredientsTabItem of 'ingredientsTab'">
                <dx-data-grid
                  [dataSource]="meal.data.meal.ingredients"
                  [showBorders]="false"
                  [columnAutoWidth]="true"
                >
                  <dxo-editing
                    mode="row"
                    [allowUpdating]="false"
                    [allowDeleting]="false"
                    [allowAdding]="false"
                  ></dxo-editing>
                  <dxi-column dataField="ingredient.name" [width]="170"></dxi-column>
                  <dxi-column dataField="amount" [width]="55"></dxi-column>
                  <dxi-column caption="Unit" dataField="ingredient.ingredientUnit" [width]="91"></dxi-column>
                </dx-data-grid>
              </div>
              <dxi-item title="Recipe" template="recipeTab"></dxi-item>
              <div *dxTemplate="let recipeTabItem of 'recipeTab'">
                <p class="mealRecipe">{{ meal.data.meal.recipe}}</p>
              </div>
            </dx-tab-panel>
          </div>
    </dx-data-grid>
</div>
</div>
</div>