<div class="d-flex flex-row">
  <div class="col">
    <h3 *ngIf='mealId == null'>Add new meal</h3>
    <h3 *ngIf='mealId != null'>Edit meal</h3>
    <hr />
    <div>
      <form [formGroup]="newMealForm" (submit)="saveNewMeal(newMealForm.value)">
        <div id="new-meal-form">
          <div id="meal-parameters">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" #title class="form-control" placeholder="Enter name">
              <h6 *ngIf="newMealForm.hasError('required', 'name')" class="text-danger"> Field is required!</h6>
            </div>

            <div class="form-group">
              <label for="category">Meal type:</label>
              <select class="custom-select" formControlName="typeOfMeal">
                <option *ngFor="let mealType of mealTypes" value="{{ mealType.name }}">{{ mealType.id }}</option>
              </select>
              <h6 *ngIf="newMealForm.hasError('required', 'typeOfMeal')" class="text-danger"> Field is required!</h6>
            </div>

            <div class="form-group">
              <label for="category">Preparing type:</label>
              <select class="custom-select" formControlName="typeOfPreparing">
                <option *ngFor="let preparingType of preparingTypes" value="{{ preparingType.name }}">
                  {{ preparingType.id }}
                </option>
              </select>
              <h6 *ngIf="newMealForm.hasError('required', 'typeOfPreparing')" class="text-danger"> Field is required!
              </h6>
            </div>

            <div class="form-group">
              <label for="minutesToPrepare">Time to prepare [minutes]:</label>
              <input type="number" formControlName="minutesToPrepare" class="form-control" min="0"
                oninput="validity.valid||(value=value.replace(/\D+/g, ''))">
              <h6 *ngIf="newMealForm.hasError('required', 'minutesToPrepare')" class="text-danger"> Field is required!
              </h6>
            </div>

            <div class="form-group">
              <label for="recipe">Recipe</label>
              <textarea formControlName="recipe" class="form-control" placeholder="Enter recipe"></textarea>
            </div>
          </div>
          <div id="meal-ingredients" style="width: 300px">
            <div style="margin-bottom: 10px;">
              <label for="minutesToPrepare">Amount for more than one person?</label>
              <input type="number" [(ngModel)]="numberOfPeoplee" class="form-control" min="0"
                oninput="validity.valid||(value=value.replace(/\D+/g, ''))" [ngModelOptions]="{standalone: true}">
            </div>
            <div formArrayName="ingredients"
              *ngFor="let ingredient of newMealForm.get('ingredients')['controls']; let i = index;">
              <div id="ingredients" [formGroupName]="i">
                <div style="width: 300px">
                  <input type="hidden" formControlName="ingredient" readonly>
                  <input type="hidden" formControlName="ingredientName" readonly>
                  {{ ingredient.controls.ingredientName.value }} /
                  <input type="hidden" formControlName="ingredientUnit" readonly>
                  {{ ingredient.controls.ingredientUnit.value }}<br>
                  <div style="display: flex; flex-direction: row;">amount:&nbsp;<input style="width: 60px" #ingr
                      type="number" pattern="^\d*(\.\d{0,2})?$" formControlName="amount" min="0" step='0.01'
                      value='0.00' (keyup.enter)='goToSearchIngredient($event)'></div>
                  <div *ngIf='ingr.value == ""'>
                    {{ingr.focus()}}
                  </div>
                </div>
                <div>
                  <a id="new-ingredient-btn" class="btn btn-danger"
                    (click)="deleteIngredientFromFormArray(i)">Delete</a>
                  <h6 *ngIf="ingredient.controls.amount.errors?.required" class="text-danger"> Amount field is required!
                  </h6>
                </div>
              </div>
            </div>
            <div>
              <app-quick-search (emitableIngredient)="addIngredientToFormArray($event, null)"></app-quick-search>
            </div>

          </div>
        </div>
        <button id="new-meal-btn" type="submit" class="btn btn-primary"
          [disabled]="newMealForm.invalid || isIngredientsListEmpty()">
          Add meal</button>
      </form>
    </div>
  </div>
</div>