<h3>Info page</h3>
<hr />
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <div class="card border-secondary mb-3" style="max-width: 20rem; margin:10px; width: 200px;">
        <div class="card-header">About</div>
        <div class="card-body">
            <p class="card-text" style="height: 50px;">Application created by Konrad Wajs. <br>
                <a href="https://github.com/KndWajs" target="blank" class="text-primary">Github</a>
            </p>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 20rem; margin:10px; width: 200px;">
        <div class="card-header">Github</div>
        <div class="card-body">
            <p class="card-text" style="height: 50px;">
                <a href="https://github.com/KndWajs/amam" target="blank" class="text-primary">Backend </a><br>
                <a href="https://github.com/KndWajs/amam-frontend" target="blank" class="text-primary">Frontend</a>
            </p>
        </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem; margin:10px; width: 200px;">
        <div class="card-header">Specification</div>
        <div class="card-body">
            <p class="card-text" style="height: 50px;">angular version: {{globals.ANGULAR_VERSION }}<br>
                rest version: {{globals.REST_VERSION}}</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-around;">
        <a href="http://api.fit-amam.pl/swagger-ui.html" target="blank" type="button"
            class="btn btn-secondary">Swagger</a>
        <button type="button" class="btn btn-secondary" routerLink="/admin">Admin panel</button>
    </div>
</div>

<img src="../../../assets/img/1280px-Amazon_Web_Services_Logo.svg.png">
<img src="../../../assets/img/fd1a39c434e53f60930f068f312a340129d0ed5b.webp">
<img src="../../../assets/img/s3.png">
<img src="../../../assets/img/AWS-EC2-0001.png">

<img src="../../../assets/img/1280px-Git-logo.svg.png">
<img src="../../../assets/img/1280px-Maven_logo.svg.png">
<img src="../../../assets/img/mysql.svg">

<img src="../../../assets/img/logo_top.jpg">
<img src="../../../assets/img/1200px-Java_programming_language_logo.svg.png">
<img src="../../../assets/img/Hibernate_logo_a.png">
<img src="../../../assets/img/querydsl-logo.png">
<img src="../../../assets/img/81d983274518ddd915c289aaae7a1094c8d5544b.webp">
<img src="../../../assets/img/swagger-logo-horizontal.png">

<img src="../../../assets/img/visualstudio_code-card.png">
<img src="../../../assets/img/angular.png">