p {
    word-break: normal;
    white-space: normal;
}

.shopping-list {
    margin: 5px;
    width: 340px;
    border-style: solid;
    border-width: 1px;;
    border-color: lightblue;
}

.alert{
    margin-bottom: 0 !important;
}

.shopping-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
