<h3>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" (click)="archival = false; getshoppingLists(); shoppingLists = null"
                href="javascript:;">Shopping lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="archival = true; getshoppingLists(); shoppingLists = null"
                href="javascript:;">Archival</a>
        </li>
    </ul>
</h3>
<app-spinner *ngIf="!shoppingLists"></app-spinner>
<div class="shopping-lists" *ngIf="shoppingLists">
    <ng-container *ngFor="let shoppingList of shoppingLists; let i = index;">
        <div *ngIf="shoppingList.archival == archival" class="shopping-list">
            <div class="alert alert-success">
                It's a shopping list <strong>{{shoppingList.name}}</strong> for
                <strong>{{shoppingList.numberOfPeople}}</strong> people.
                <ul class="nav nav-pills">
                    <li *ngIf="!waitingForNewShoppingList" class="nav-item">
                        <a class="nav-link text-danger" (click)="deleteShoppingList(shoppingList)"
                            href="javascript:;">Delete</a>
                    </li>
                    <li *ngIf="waitingForNewShoppingList" class="nav-item">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </li>
                    <li class="nav-item">
                        <a *ngIf="addIngredient == null" class="nav-link" (click)="addIngredient = i"
                            href="javascript:;">Add item</a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="addIngredient == i" class="nav-link " (click)="addIngredient = null"
                            href="javascript:;">Cancel adding item</a>
                    </li>
                    <li class="nav-item">
                        <div class=" nav-link">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck{{i}}"
                                    [(ngModel)]="shoppingList.archival"
                                    (click)="changeArchivalFlag(shoppingList, $event)">
                                <label class="custom-control-label" for="customCheck{{i}}">Archival</label>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="width: 200px;">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Combine with other</a>
                        <div class="dropdown-menu">
                            <div *ngFor="let otherShoppingList of shoppingLists; let i = index;">
                                <a class="dropdown-item" *ngIf="!(shoppingList.id == otherShoppingList.id)"
                                    (click)="createCombinedShoppingList(shoppingList, otherShoppingList)">{{otherShoppingList.name}}</a>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="!waitingForNewShoppingList" class="nav-item">
                        <a class="nav-link text-danger" (click)="getPDF(shoppingList.id)" href="javascript:;">getPDF</a>
                    </li>                    
                </ul>
            </div>
            <app-quick-search-shopping-element (emitableShoppingElement)="addIngredientToShoppingList($event, i)"
                *ngIf="addIngredient == i"></app-quick-search-shopping-element>
            <dx-data-grid id="gridContainer" 
            [dataSource]="shoppingList.shoppingElements" 
            keyExpr="ingredient.name"
            [allowColumnReordering]="false" 
            (onRowRemoving)="onRowRemoving(shoppingList, $event)"
            (onRowUpdating)="onRowUpdating(shoppingList, $event)" 
            (onEditorPreparing)="onEditorPreparing($event)">

                <dxo-grouping expandMode="rowClick" [autoExpandAll]="true">
                </dxo-grouping>

                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-editing mode="cell" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="false">
                    <dxo-texts deleteRow="X">
                    </dxo-texts>
                </dxo-editing>

                <dxi-column caption="Already bought" dataField="alreadyBought" [groupIndex]="1"></dxi-column>
                <dxi-column caption=" " dataField="alreadyBought" [width]="40"></dxi-column>
                <dxi-column caption="Name" dataField="ingredient.name" [width]="110"></dxi-column>
                <dxi-column caption="Amt." dataField="amount" [width]="50"></dxi-column>
                <dxi-column caption="Unit" dataField="ingredient.ingredientUnit" [width]="100"></dxi-column>
                <dxi-column caption="(" dataField="ingredient.category" [groupIndex]="2"></dxi-column>
                <dxi-column type="buttons" [width]="45">
                    <dxi-button name="delete"></dxi-button>
                </dxi-column>
            </dx-data-grid>
        </div>
    </ng-container>
</div>
