<div class="d-flex justify-content-center" style="width: 100%; padding: 20px;">
    <!-- <div class="spinner-border text-primary " style="width: 6rem; height: 6rem;" role="status">
      <div class="logo"><img alt="amam" src="../../../assets/img/logo_3.png" width="70px"></div>
      <span class="sr-only">Loading...</span>
    </div> -->

    <div class="app-loading">
      <div class="spinner-logo"><img alt="amam" src="../../../assets/img/logo_3.png" width="70px"></div>
      <!-- <svg class="spinner" viewBox="25 25 50 50">       
        <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="1" stroke-miterlimit="10" />      
      </svg> -->
      <div class="loader"></div>
    </div>
</div>
