<!-- <div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Zmień lub ustaw kategorię dla:</div>
  <div class="card-body">
    <div style="margin-bottom: 10px;" *ngIf="ingredient">
      <label>Name</label>
      <input [(ngModel)]="ingredient.name" [ngModelOptions]="{standalone: true}"><br>
      <label>Unit</label>
      <input [(ngModel)]="ingredient.ingredientUnit" [ngModelOptions]="{standalone: true}"><br>
      <label>Category</label>
      <input [(ngModel)]="ingredient.category" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
</div>

<p class="text-danger" style="margin: 20px">{{msg}}</p>

<div style="display: flex; flex-direction: row; margin: 20px; flex-wrap: wrap;">
  <div *ngFor="let category of categories " style="margin: 20px;">
    <button id="new-meal-btn" class="btn btn-primary" (click)="addIngredientCategory($event)">{{category.category}}</button>
  </div>

  <button id="new-meal-btn" class="btn btn-secondary" (click)="addIngredientCategory($event)">dalej</button>
</div>



<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">dodaj przycisk z kategorią:</div>
  <div class="card-body">
    <div style="margin-bottom: 10px;">
      <input #newCat >
      <button id="new-meal-btn" class="btn btn-secondary" (click)="addCategoryToList(newCat.value)">dodaj kategorię</button>
    </div>
  </div>
</div> -->
